*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.head{
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(75, 98, 85);
    border-radius: 999px 0 0 999px;
    margin: 20px auto 30px; 
    padding: 15px 25px;
    max-width:1100px;
}
.head img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
       
}

.title{
    flex: 1;
    /* width: 100%; */
    text-align: center;
    /* border-radius: 0 999px 999px 0; */
    color: white;
}
h1{
    font-size: 1.1rem;
    letter-spacing: 3px;
}

.tail{
    display:flex;
    max-width: 1100px;
    margin: auto;

}
.left{
    width:25%;
    /* min-height: auto; */
    padding: 40px 30px;
    background-color: rgb(172, 188, 182);
    border-radius: 40px 0 0 0 ;
}

.contact .fa-envelope { 
    color: black;
}
.contact{
    font-size: 0.95rem;
    /* line-height: 1.6; */
    
}
.contact .fa-linkedin-in {
    color: black;
}

.contact .fa-github { 
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.contact a:hover{
    color: #6366f1;
    text-decoration: underline;
}

.contact i {
    margin-right: 8px;
}

.loc{
    vertical-align: middle;
    margin-left: -5px;
}
.edu h3,.skills h3,.summary h3,.projects h3,.certifications h3,.workshops h3{
    letter-spacing: 1.5px;
}
.line{
    width:100%;
    height: 2px;
    margin:10px auto;
    background-color: grey;
}
.right{
    width:75%;
    /* min-height: auto; */
    padding: 40px 35px;
}
.skills h3,
.summary h3,
.projects h3,
.edu h3,
.certifications h3,
.workshops h3 {
    letter-spacing: 1.5px;
    font-size: 1.05rem;
    margin-bottom: 5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-bottom: 10px;
}
.summary p,
.projects li,
.certifications li,
.workshops li {
    font-size: 0.95rem;
}

.projects ul,
.certifications ul,
.workshops ul {
    margin-left: 20px;
}

.projects a {
    color: #1f2937;
    font-weight: 600;
}

.projects a:hover {
    color: #6366f1;
}
.skills,
.summary,
.projects,
.edu,
.certifications,
.workshops {
    margin-bottom: 30px;
}
@media (max-width: 900px) {
  .tail {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    border-radius: 0;
  }
  .left {
        border-radius: 30px 30px 0 0;
    }
}
@media (max-width: 600px) {
    .head {
        flex-direction: column;
        text-align: center;
        border-radius: 20px;
        margin: 10px;
    }

    .head img {
        width: 90px;
        height: 90px;
    }

    .title h1 {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .title h3 {
        font-size: 1rem;
    }

    .left,
    .right {
        padding: 20px;
    }

    .projects ul,
    .skills ul {
        margin-left: 15px;
    }

    .contact span {
        word-break: break-word;
    }
}

