*{
    box-sizing: border-box;
}


.head{
    min-height: 120px;
    height: auto;
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(75, 98, 85);
    border-radius: 999px 0 0 999px;
    margin: 20px 60px 30px 60px; 
    padding: 10px;
}
.head img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
       
}

.title{
    width: 100%;
    text-align: center;
    border-radius: 0 999px 999px 0;
    color: white;
}
h1{
    letter-spacing: 4px;
}

.tail{
    display:flex;

}
.left{
    width:25%;
    min-height: auto;
    padding: 50px;
    background-color: rgb(172, 188, 182);
    border-radius: 50px 50px 0 0 ;
}

.contact .fa-envelope { 
    color: black;
}
.contact{
    font-size: medium;
    line-height: 1.6;
    
}
.contact .fa-linkedin-in {
    color: black;
}

.contact .fa-github { 
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.contact a:hover{
    color: #6366f1;
    text-decoration: underline;
}
.loc{
    margin-left: -5px;
}
.edu h3,.skills h3,.summary h3,.projects h3,.certifications h3,.workshops h3{
    letter-spacing: 1.5px;
}
.line{
    width:100%;
    height: 2px;
    margin:10px auto;
    background-color: grey;
}
.right{
    width:75%;
    min-height: auto;
    padding: 50px;
}
.skills,
.summary,
.projects,
.edu,
.certifications,
.workshops{
  margin-bottom: 30px;
}
