.head{
    height: 10%;
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(75, 98, 85);
    border-radius: 999px 0 0 999px;
    margin: 20px 60px 30px 60px; 
    padding: 10px;
}
.head img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
       
}

.title{
    width: 100%;
    text-align: center;
    border-radius: 0 999px 999px 0;
    color: white;
}
h1{
    letter-spacing: 4px;
}

.tail{
    display:flex;

}
.left{
    width:30%;
    min-height: 900px;
    padding: 50px;
    background-color: rgb(172, 188, 182);
    border-radius: 50px 50px 0 0 ;
}
.contact{
    font-size: medium;
    line-height: 20px;
    
}
.contact .fa-linkedin-in {
    color: black;
}

.contact .fa-github { 
    color: black;
}
.loc{
    margin-left: -5px;
}
.edu h3,.skills h3,.summary h3,.projects h3,.certifications h3,.workshops h3{
    letter-spacing: 1.5px;
}
.line{
    width:100%;
    height: 2px;
    margin:10px auto;
    background-color: grey;
}
.right{
    width:70%;
    min-height: 900px;
    padding: 50px;
}